.k2-AB-boxed-container {
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
}

.K2-AB-cover-parent-container-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.k2-AB-cover-parent-container {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}


.k2-AB-cover-text-container {


  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  height: 100%;

}

.k2-AB-cover-parent-container:hover .k2-AB-cover-text-container {
  opacity: 1;
  box-shadow: inset 0 0 0 100vh rgba(255, 0, 0, 0.7);
  transform: translate(50px, 50px);
}

.k2-AB-cover-heading-style {
  color: white !important;
}


.k2-AB-cover-paragraph-heading {
  color: white;
  font-size: 1.7em;
}

@media (max-width: 700px) {

  .k2-AB-cover-parent-container:hover .k2-AB-cover-text-container {
    transform: translate(0px, 50px);
  }
}