.k2-bt-parent-container {
    padding: 2rem;

    .k2-bt-top-section {
        display: flex;
        position: relative;

        .k2-bt-image-container {
            position: relative;

            .k2-bt-quotation-mark-container {
                position: absolute;
                top: 35px;
                right: -15px;
                line-height: 0;
                font-size: 90px;
            }
        }
    }

    .k2-bt-authorName {
        p {
            margin: 0 !important;
        }
    }
}

.k2-bt-author-image {
    img {
        border-radius: 100px;
    }

}